
.nav {
	align-items: stretch;
	background-color: mc($primary, '500');
	display: flex;
	min-height: 50px;
	position: relative;
	text-align: center;
	box-shadow: 0 2px 3px rgba(mc($primary, '500'), 0.2);
	z-index: 2;
	color: #FFF;
  transition: background-color 1s ease;

  /* THEME OVERRIDE - START */

	@each $color, $colorvalue in $material-colors {
		&.is-#{$color} {
			background-color: mc($color, '500');
			box-shadow: 0 2px 3px rgba(mc($color, '500'), 0.2);

      .nav-item a, a.nav-item {
        color: mc($color, '50');

        &:hover {
          color: mc($color, '200');
        }

      }

      h1:hover {
        color: mc($color, '100');
      }

			.nav-item {

				.button {
					background-color: mc($color, '800');

					&.is-outlined {
						background-color: mc($color, '600');
						color: mc($color, '100');
					}

					&:hover {
						background-color: mc($color, '900');
					}

				}

			}

      .control {

        input[type=text] {
          background-color: mc($color, '800');
          border-color: mc($color, '400');
          color: mc($color, '50');

          &:focus {
            border-color: mc($color, '200');
            box-shadow: inset 0 0 5px 0 rgba(mc($color, '900'), 0.5);
          }

          @include placeholder {
            color: mc($color, '200');
          }

        }

      }

		}
	}

  /* THEME OVERRIDE - END */

}

.current-user {
  span {
    &.username {
      font-size: 14px;
    }
    &.email {
      font-size: 12px;
    }
    text-align: center;
  }
  margin: 5px 5px 5px 5px;
  display: block;
  height: 40px;
}

.nav-left {
	align-items: center;
	display: flex;
	flex-basis: 0;
	flex-grow: 1;
	justify-content: flex-start;
	overflow: hidden;
	overflow-x: hidden;
  white-space: nowrap;

  .title {
    margin-left: 4px;
  }
}

.nav-center {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-left: auto;
  margin-right: auto;
}

.nav-right {
	align-items: stretch;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  justify-content: flex-end;

  .nav-item {
    align-items: stretch;
    padding: 0 0 0 10px;
  }
}

.nav-item {
  flex-direction: row-reverse;
	align-items: flex-end;
	display: flex;
	justify-content: right;
	padding: 0 10px;

	// LINKS

	@at-root .nav-item a, a.nav-item {
		color: mc($primary, '50');
		transition: color .4s ease;
		cursor: pointer;

		&:hover {
			color: mc($primary, '200');
			text-decoration: none;
		}

	}

	// LOGO

	img {
		max-height: 34px;
	}

	// HEADERS

	h1 {
		font-size: 24px;
		font-weight: 400;
		letter-spacing: 0.5px;
		text-transform: uppercase;
		transition: color .4s ease;
		color: #FFF;
    padding-left: 10px;
    align-content: center;

		i {
			margin-right: 8px;
		}

		&:hover {
			color: mc($primary, '100');
		}
	}

	@at-root h2.nav-item, .nav-item h2 {
		color: mc($primary, '50');
	}

	// BUTTONS

	.button {
		border: none;
		background-color: mc($primary, '600');
		transition: all .4s ease;
		color: #FFF;
		border-radius: 0;
    height: auto;

		&.is-outlined {
			background-color: mc($primary, '500');
			color: mc($primary, '100');
    }

    &.is-icon-only i {
      margin-right: 0;
    }

		&:hover {
			background-color: mc($primary, '700');
			color: #FFF;
		}

	}

	// INPUTS

	.control {

		input[type=text] {
			background-color: mc($primary, '800');
			border-color: mc($primary, '400');
			color: mc($primary, '50');

			&:focus {
				border-color: mc($primary, '200');
				box-shadow: inset 0 0 5px 0 rgba(mc($primary, '900'), 0.5);
			}

			@include placeholder {
				color: mc($primary, '200');
			}

		}
  }
}

.content-bar {
  background-color: #dfdfdf;
  display: flex;
  justify-content: space-between;
}

.content-options {
  flex-direction: row-reverse;
  align-items: flex-end;
  display: flex;
  justify-content: right;
  padding: 10px 10px;
}

.hints {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #dfdfdf;
  padding-bottom: 10px;
}

.last-edit {
  display: block;
  padding: 8px 15px 8px 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: left;

  .date {
    display: block;
    font-style: italic;
  }

  .author {
    display: block;
    font-style: italic;
    margin-top: 5px;
  }

}

.related-topic-for-mobile {
  display: block;
  padding: 8px 15px 8px 15px;
  color: white;
  background-color: #263238;
  text-align: left;
}

.sidebar-label-for-mobile {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidebar-menu-for-mobile {
  li {
    display: block;

    a {
      display: flex;
      min-height: 30px;
      align-items: center;
      padding: 5px 20px;
      color: mc('blue-grey', '100');
      font-size: 14px;
      transition: all .4s ease;
      line-height: 14px;
      cursor: pointer;

      &.is-multiline {
        flex-wrap: wrap;
      }

      &.is-active {
        border-left: 5px solid mc('blue', '500');
        color: mc('blue', '300');
        padding-left: 15px;

        .is-small {
          color: mc('blue', '500');
        }

      }

      i {
        margin-right: 7px;
        color: mc('blue-grey', '300');
      }

      &:hover {
        color: mc('blue-grey', '400');
        text-decoration: none;
      }

      .is-small {
        flex: 1 0 100%;
        display: block;
        font-size: 11px;
        color: rgba(255,255,255,.5)
      }

    }

    > ul {
      border-top: 1px solid lighten(mc('blue-grey', '900'), 3%);
      border-bottom: 1px solid lighten(mc('blue-grey', '900'), 2%);
      background-color: darken(mc('blue-grey', '900'), 2%);
      margin-bottom: 10px;
      padding: 10px 0;

      li {
        padding-left: 10px;
        //border-left: 5px solid mc('blue-grey', '800');

        a {
          min-height: 24px;
          color: mc('blue-grey', '100');
        }

      }

    }

  }

}


.dropdown {
  position: relative;
  display: inline-block;
  min-width: 105px;

  &:hover .dropdown-content {
    display: block;
  }

  a {
    height: 52px !important;
    display: flex !important;
    justify-content: right !important;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 105px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

  a {
    display: flex !important;
    justify-content: right !important;
    text-transform: none !important;
    height: 52px !important;
  }

}
