extends ../layout.pug

block rootNavCenter
  h2.nav-item= pageData.meta.title

block rootNavRight
  loading-spinner
  span.nav-item
    a.button(href='/' + pageData.meta._id)
      i.nc-icon-outline.ui-3_select
      span= t('nav.normalview')

block content
  history(current-path=pageData.meta._id, history-data=JSON.stringify(pageData.history))
