extends ../layout.pug

block rootNavCenter

block content
  .container
    .welcome
      img(src='/images/logo.png', alt='HKUCS')
      h1= t('welcome.title')
      h2= 'initializing...'
      //- a.button.is-indigo(href='/create/home')= t('welcome.createhome')
